.nav-link {
    text-decoration: none;
    width: 577px;
    height: 21px;
    margin-right: 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #1d1d1f;
}
.nav-link:last-child {
    color: #f9995d;
    margin-right: 0;
}